<div class="row">
  <div class="columns content">
  <h1>{{install_summary | translate}}</h1>
  <p>
    {{install_summary_info | translate}}
  </p>
  <p>
    Target device : {{selectedDrive.model}}
    <br>Target parttition : {{selectedDrive.path}}{{installationData.partition}}
    <br>Computer name : {{installationData.hostname}}
    <br>Full name : {{installationData.fullname}}
    <br>User name : {{installationData.username}}
    <br>Automatically login : <span ng-show="installationData.autologin">Yes</span><span ng-show="!installationData.autologin">No</span>
  </p>
  </div>
  <div class="columns nav-button">
    <button class='button' ng-click="previous()">Previous</button>
    <button class='button' ng-click="next()">Install</button>
  </div>
</div>
