body {
  background:black;
  color: white;
  height:100%;
  overflow:hidden !important;
  ::-webkit-scrollbar { 
    display: none; 
  }
}

.content {
  height:80vh;
  padding: 30px;
}
h1 {
  color: #438EB9 !important;
}
.row {
  width: 1000px;
}

.wrapper {
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:1000px;
  height:auto;
  background:#ccc">
}

.fade.ng-enter, .fade.ng-leave {
  position: absolute;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.forward.ng-enter {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.forward.ng-leave {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

.back.ng-enter {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.back.ng-leave {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}
.step-line {
  position:absolute;
  z-index:0;
}
.step-container {
  position:absolute;
  z-index:2001;
}
.step {
  background:#6D6D6D;
  width:10px;
  height:10px; 
  border-radius:5px;
  margin-bottom:14vh;
}
.step-big {
  background:#6D6D6D;
  width:30px;
  height:30px; 
  border-radius:15px;
  margin-bottom:13vh;
  margin-left:-10px;
  padding-top:4px;
  text-align:center;
}

.pull-right {
  float:right
}

.nav-button {
  text-align:center;
}
