body {
  background:black;
  color: white;
  height:100%;
  overflow:hidden !important;
  ::-webkit-scrollbar { 
    display: none; 
  }
}
.logo {
  margin:30px 30px -50px -20px;
}
.content {
  height: 600px;
  padding: 30px;
}
h1 {
  color: #438EB9 !important;
}
.page {
  float:left;
}
.timeline {
  width:10vw;
}
.wrapper {
  position:relative;
  height:auto;
  background:#ccc">
}

.fade.ng-enter, .fade.ng-leave {
  position: absolute;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.forward.ng-enter {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.forward.ng-leave {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

.back.ng-enter {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.back.ng-leave {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

.timezone-picker {
  width: 700px !important;
}

.line {
  margin-left:19px; 
  position:absolute;
  background:#6D6D6D;
  width:2px;
  /* margin-top:10vh; */
  /* height:75vh; */
  z-index:1000;
}

.step-container {
  position:absolute;
  z-index:2001;
  /* margin-top:10vh; */
}

.step-container.ng-hide-add.ng-hide-add-active,
.step-container.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.step-line {
  position:absolute;
  z-index:0;
}
.step {
  background:#6D6D6D;
  width:10px;
  height:10px;
  margin-left:15px; 
  border-radius:5px;
  /* margin-bottom:calc(15vh - 10px); */
}
.step:hover {
  border : 5px solid;
  border-color: #438EB9;
  cursor:pointer;
}
.step-big {
  background:#438FB9;
  width:30px;
  height:30px; 
  border-radius:15px;
  /* margin-bottom:calc(15vh - 30px); */
  margin-left:5px;
  padding-top:4px;
  text-align:center;
}

.pull-right {
  float:right
}

.nav-button {
  padding-left: 30px;
}
.personalization-form {
  width:600px;
}
.drive-block {
  background:#494949;
  padding:8px 0px 8px 0px;
  height:50px;
}
.partition-block {
  float:left;
  height:34px;
  margin-left:8px;
  width:auto
}

.partition-block:hover {
  background:#0082AC;
  cursor:pointer;
}

.normal {
  background:green;
}

.selected {
  background:#0082AC !important;
}

.disallow {
  background:grey;
  cursor: default;
  pointer-events: none;
}

.freespace {
  background:white;
}

.legend-partition {
  margin-bottom: 10px;
}
.legend-partition-normal {
  background-color:green;
  padding:1px 4px 1px 4px;
  font-size:12px;
}
.legend-partition-disallow {
  background-color:grey;
  padding:1px 4px 1px 4px;
  font-size:12px;
}
.legend-partition-freespace {
  background-color:white;
  padding:1px 4px 1px 4px;
  font-size:12px;
  color:black;
}

.partition-block:hover span {
  display:block;
  background:#0082AC;
  color:black;
  padding:4px 8px 4px 8px;
  margin-top:50px;
  top:inherit;
  position:absolute;
  z-index:9999;
}

.partition-block span {
  display:none;
}


.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
  text-align:center;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #0082AC;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.meter { 
  height: 20px;  /* Can be anything */
  position: relative;
  margin: 60px 0 20px 0; /* Just for demo spacing */
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
  display: block;
  height: 7px;
  margin-top: -3px;
     -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
             border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
      -webkit-border-top-left-radius: 20px;
   -webkit-border-bottom-left-radius: 20px;
              border-top-left-radius: 20px;
           border-bottom-left-radius: 20px;
  background-color: #0082AC;
  -webkit-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
