.row {
  width: 1000px;
}

.wrapper {
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:1000px;
  height:auto;
  background:#ccc">
}

.fade.ng-enter, .fade.ng-leave {
  position: absolute;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.fade.ng-enter {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fade.ng-leave {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}
