<div class="row">
  <div class="columns content">
    <h1>Hello</h1>
    <p><a class="button dropdown" dropdown-toggle="#language-selection">Change language</a><p>
    <ul id="language-selection" class="f-dropdown">
      <li ng-repeat="lang in languages">
      <a ng-click="setLanguage(lang.id)">{{lang.title}}</a>
      </li>
    </ul>

  </div>
  <div class="columns nav-button">
    <button class='button' ng-click="exit()">Continue using Live CD</button>
    <button class='button' ng-click="next()">Install BlankOn</button>
  </div>
</div>
