<div class="row">
  <div class="columns content">
  <h1>Personalization</h1>
<form>
  <p>Please enter your personalization preference below...</p>
  <p ng-show="personalizationError"><strong>Validation error</strong></p>
  <div class="small-8 columns">
    <div class="row small-8">
      <div class="small-3 columns">
        <label class="right inline">Computer Name:</label>
      </div>
      <div class="small-9 columns">
        <input type="text" ng-model="installationData.hostname"/>
      </div>
    </div>
    <div class="row small-8">
      <div class="small-3 columns">
        <label class="right inline">Your Name:</label>
      </div>
      <div class="small-9 columns">
        <input type="text" ng-model="installationData.fullname"/>
      </div>
    </div>
    <div class="row small-8">
      <div class="small-3 columns">
        <label class="right inline">User Name:</label>
      </div>
      <div class="small-9 columns">
        <input type="text" ng-model="installationData.username"/>
      </div>
    </div>
    <div class="row small-8">
      <div class="small-3 columns">
        <label class="right inline">Password</label>
      </div>
      <div class="small-9 columns">
        <input type="text" ng-model="installationData.password"/>
      </div>
    </div>
    <div class="row small-8">
      <div class="small-3 columns">
        <label class="right inline">Password (once again)</label>
      </div>
      <div class="small-9 columns">
        <input type="text" ng-model="installationData.passwordRepeat"/>
      </div>
    </div>
  </div>
</form>
  </div>
  <div class="columns nav-button">
    <button class='button' ng-click="previous()">Previous</button>
    <button class='button' ng-click="validatePersonalization(installationData)">Next</button>
  </div>
</div>

